.pair style='display:none;'
  = image_tag(user1.photo.try(:url, :normalized), data: {link: picks_path(uuid: UrlEncoder.encode(user1.id, user2.id))}, class: 'left')
  = image_tag(user2.photo.try(:url, :normalized), data: {link: picks_path(uuid: UrlEncoder.encode(user2.id, user1.id))}, class: 'right')
