.pair data-pair-id="#{user1.id}#{index}#{user2.id}"
  = link_to image_tag(user1.photo.try(:url, :normalized)), '#', class: 'left'
  = link_to image_tag(user2.photo.try(:url, :normalized)), '#', class: 'right'
