.pair style='display:none;'
  = image_tag(user_left.photo.try(:url, :normalized), data: {link: picks_path(uuid: url_encoder.encode(user_left.id, user_right.id))}, class: 'left')
  = image_tag(user_right.photo.try(:url, :normalized), data: {link: picks_path(uuid: url_encoder.encode(user_right.id, user_left.id))}, class: 'right')
