<div class='pair' style='display:none;'>
  {{#user_left}}
  <img src='{{image}}' data-link='{{link}}' class='left'/>
  {{/user_left}}

  {{#user_right}}
  <img src='{{image}}' data-link='{{link}}' class='right'/>
  {{/user_right}}

</div>
