.title = t '.title'
.description = t '.description', multiplier: pick_weight_multiplier.multiplier
.actions = link_to t('.activate'), activate_boost_url(pick_weight_multiplier), remote: true, method: :post
